LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_API_KEY=lm-studio
TAVILY_API_KEY="your_tavily_api_key_here"
DATABASE_URL=sqlite:///database.db
LMSTUDIO_MODEL=meta-llama-3.1-8b-instruct
VERIFY_SSL=false
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=research_tasks

VITE_API_BASE_URL=http://localhost:8080/api
